<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css" >
  <title>Rock, Paper, Scissors</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/result">Result</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
<footer>
  <p>Masterfully crafted by: Ray Greenan</p>
  <p>Contact information: <a href="mailto:ray.greenan.89@outlook.com">ray.greenan.89@outlook.com</a></p>
</footer>
